/Java/lab 2/lab2_fine/nbproject/private/
/Java/lab 3/lab2-3/nbproject/private/
/Java/lab 3/lab2-3/build/
/Java/lab2_2/build/
/Java/lab2_2/nbproject/private/
/Java/MapCoverage/nbproject/private/
/Java/MapCoverage/target/
/Java/lab8/target/
